    <sector class = "container-fluid footer-style">
        <div class = "row align-items-center footer-row-style">
            <div class = "col-md-4 col-style">
                <h2> Ώρες Λειτουργίας</h2>
                <p>Δευτέρα - Κυριακή<br> 12 - 2</p>
                <p><span><a href="https://www.facebook.com/TaKitrinaGantia/"><i class="fab fa-facebook-f smaller-icon"></i></a></span><a href = "https://www.instagram.com/ta_kitrina_gantia/"><i class="fab fa-instagram smaller-icon"></i></a><span></span></p>

            </div>
            <div class = "col-md-4 col-style">
                <h1>Τα Κίτρινα Γάντια</h1>
                <img class="img-fluid logo" src="images/logo.jpg">
                <p>Designed by <a href="https://www.vecteezy.com">Vecteezy</a></p> 
            </div>
            <div class = "col-md-4 col-style">
                <h2> Επικοινωνία</h2>
                <p>Φιλελλήνων 44, <br>Λόφος Φρουρίου, Λάρισα</p>
                <p>Τηλ: 241 025 2699</p>
                <p>E-mail: kitrina.gantia@hotmail.com</p>
            </div>
           
        </div>
    </sector>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>