<!DOCTYPE html>
<html>
    <head>
        <title>Τα Κίτρινα Γάντια</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel ="stylesheet" href="/style/generall.css">
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="generalNavbar">
          <a class="navbar-brand" href="/">Τα Κίτρινα Γάντια</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">ΑΡΧΙΚΗ <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/restaurant">ΠΡΟΦΙΛ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu">ΜΕΝΟΥ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">ΕΠΙΚΟΙΝΩΝΙΑ</a>
              </li>
            </ul>
          </div>
        </nav>
     
    