body{
    background-image: url("/images/background.jpg");
    width: 100%;
}

/*.bg-light{*/
/*    background-image: url("/images/background.jpg");*/
/*}*/

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
.changeColor{
    color: black;
}

#mainNavbar .nav-link:hover {
    color: #D8C235;
    text-decoration: underline;
    
}



.carousel-style img{
    width: 100%;

}
.carousel-style{
    margin:0px 0px;
    padding: 0px 0px;
    top: 0px;
    width: 100%;
}







