<%include partials/header %>

    <section class = "container-fluid top-section" id = "menu-style">
        <img class="img-fluid" src="https://10radio.es/wp-content/uploads/2017/05/preparar-Enchilada.jpg" alt="">
    </section>
    <section class ="container-fluid menu-section">
        <div class ="row">
            <div class = "col-md-3">
                <div class = "list-group list-group-flush list-group-style">
                    <h3 class = "text-center text-warning">
                        ΜΕΝΟΥ
                    <h3>
                    <button type="button" class="list-group-item textColor" id = "starters-button" ><span><i class="fas fa-utensils"></i></span> Ορεκτικά</button>
                    <button type="button" class="list-group-item textColor" id = "main-dish-button"><span><i class="fas fa-utensils"></i></span> Κυρίως</button>
                    <button type="button" class="list-group-item textColor" id="wines-button"><span><i class="fas fa-utensils"></i></span> Ποτά</button>
                    <button type="button" class="list-group-item textColor" id="recommendations-button"><span><i class="fas fa-utensils"></i></span> Ο σεφ προτείνει</button>
                </div>
            </div>
            <div class ="col-md-9 text-center" id = "main-menu">
                <h1>Κυρίως Πιάτα</h1>
                <div class = row>
                    <div class = col-md-6>
                        <ul>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                    <div class = col-md-6>
                        <ul>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Σουβλάκι Χοιρινό</p>
                                    <footer class="blockquote-footer"> Συνοδεύεται με πατάτες φούρνου και ρύζι</footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class ="col-md-9 text-center starters isVisible" id = "starters">
                <h1>Ορεκτικά</h1>
                <div class = row>
                    <div class = col-md-6>
                        <ul>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                    <div class = col-md-6>
                        <ul>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                           <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Μελιτζανοσαλάτα</p>
                                    <footer class="blockquote-footer">Πικάντηκη και ιδανική για να συνοδεύσει το γεύμα σας</footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class ="col-md-9 text-center starters isVisible" id = "wines">
                <h1>Ποτά</h1>
                <div class = row>
                    <div class = col-md-6>
                        <ul>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                    <div class = col-md-6>
                        <ul>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                           <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote class="blockquote text-center">
                                    <p class="mb-0">Κόκκινο Cabernet sauvignon</p>
                                    <footer class="blockquote-footer">Συνοδεύει εξαίρετικα τα πιάτα της ώρας μας</footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class ="col-md-9 text-center starters isVisible" id = "recommendations">
                <h1>recommend</h1>
                <div class = row>
                    <div class = col-md-6>
                        <ul>
                            <li>fai</li>
                            <li>fai</li>
                            <li>fai</li>
                            <li>fai</li>
                            <li>fai</li>
                        </ul>
                    </div>
                    <div class = col-md-6>
                        <ul>
                            <li>fai</li>
                            <li>fai</li>
                            <li>fai</li>
                            <li>fai</li>
                            <li>fai</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="/scripts/menuScript.js"></script>
    <script type="text/javascript" src="/scripts/generalScript.js"></script>
<% include partials/footer %>