<%include partials/header %>

    <section class = "container-fluid top-section" id = "menu-style">
        <img class="img-fluid" src="https://10radio.es/wp-content/uploads/2017/05/preparar-Enchilada.jpg" alt="">
    </section>
    <section class ="container">
        <div class ="row">
            <div class = "col-md-3">
                <div class = "list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action active">
                        ΜΕΝΟΥ
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Ορεκτικά</a>
                    <a href="#" class="list-group-item list-group-item-action">Κυρίως Πιάτα</a>
                    <a href="#" class="list-group-item list-group-item-action">Κρασιά</a>
                    <a href="#" class="list-group-item list-group-item-action">Ο Σεφ Προτείνει</a>
                </div>
            </div>
            <div class ="col-md-9">
                
            </div>
        </div>
    </section>

<% include partials/footer %>