<%include partials/header %>

    <section class = "container-fluid top-section" id = "restaurant-style">
        <img class="img-fluid" src="http://www.opus1classical.com/img/2018/08/stunning-professional-kitchen-design-ideas-contemporary-home-pro-nice-with-new-sciaticatreatments-european-restaurant-dimensions-guide-showrooms-modern-and-bath-remodel-hotel.jpg" alt="">
    </section>
    <section class ="container-fluid first-section">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <img class="img-fluid" src="https://scontent.fath5-1.fna.fbcdn.net/v/t1.0-9/49937837_1499846236785533_8594272332875300864_o.jpg?_nc_cat=107&_nc_ht=scontent.fath5-1.fna&oh=7341eb5beb1acd8981be85927b4709af&oe=5CC196BE" alt="">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row  justify-content-center">
                    <div class="col-10 col-lg-8">
                        <h2>Η ΟΜΑΔΑ ΜΑΣ</h2>
                         iCon by oNlineWebFonts.Com 
                         <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ducimus iste esse veniam earum, nesciunt est expedita delectus ut recusandae iure dolorem sapiente, facilis impedit molestiae quam optio nihil natus blanditiis ab at? Sed, iure nesciunt ab esse nisi impedit?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <script type="text/javascript" src="/scripts/generalScript.js"></script>  
<% include partials/footer %>